<%# -*- encoding: utf-8 -*- %>
<!doctype html>
<html><head>
  <meta charset = "utf-8">
  <meta name="name" content="content">
  <meta http-equiv="Content-Style-Type" content="text/css">
  <meta http-equiv="Content-Script-Type" content="text/javascript">
  <meta http-equiv="Last-Modified" content="<%= Time.now().strftime("%a, %d %b %Y %H:%M:%S") %> GMT">
  <meta name="keywords" content="<%= @keyword %> ">
  <meta name="description" content="<%= @description %>">
  	<link rel="stylesheet" href="theme/base.css" type="text/css" media="all">
	<link rel="stylesheet" href="<%= @css_theme_path %>" title="<%= @title %>" type="text/css" media="all">
  <title><%= @title %></title>

    <style type="text/css">

    </style>

</head>

<body>
<a href="http://www.geocities.jp/shiccarorl/index.html"><h1>ニャンモナイトとその日暮らし</h1></a>
<br>

<table style="text-align: left; width: 100%;" border="1" >
<tbody>
<tr>
<td style="vertical-align: top;"><a href="./book/index.html"><h2>読書</h2></a><br />
</td>
<td style="vertical-align: top;"><a href="./FreeSoft/index.html"><h2>フリーソフト</h2><br />
</td>
<td style="vertical-align: top;"><a href="./download/index.html"><h2>download</h2><br />
</td>
</tr>
</tbody>
</table>

